@using Microsoft.AspNetCore.Mvc.Rendering
@model TTI.TTF.Taxonomy.Model.Core.Base

@{
    ViewBag.Title = "Token Base Type";
    Layout = "_Layout";
}

<h2>@Model.Artifact.Name</h2>
<h3>@Html.Raw(Model.Artifact.ArtifactSymbol.visual)</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artifact.Name)
        </th>
        <th>
            Property
        </th>
        <th>
            Value
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td>
            @{Html.RenderPartial("", "_Artifact", "Artifact", Model.Artifact);}
        </td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.DisplayName(Model.Name)</td>
        <td>@Html.TextBox(Model.Name)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.DisplayName(Model.Owner)</td>
        <td>@Html.TextBox(Model.Owner)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.DisplayName(Model.Symbol)</td>
        <td>@Html.TextBox(Model.Symbol)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.DisplayName(Model.ConstructorName)</td>
        <td>@Html.TextBox(Model.ConstructorName)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.DisplayName(Model.Decimals.ToString())</td>
        <td>@Html.TextBox(Model.Decimals.ToString())</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.DisplayName(Model.Quantity.ToStringUtf8())</td>
        <td>@Html.TextBox(Model.Quantity.ToStringUtf8())</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.DisplayName(Model.TokenType.ToString())</td>
        <td>@Html.TextBox(Model.TokenType.ToString())</td>
    </tr>
    @foreach (var p in Model.TokenProperties)
    {
        <tr>
            <td></td>
            <td>@Html.DisplayName(p.Key)</td>
            <td>@Html.TextBox(p.Value)</td>
        </tr>
    }
    </tbody>
</table>
