@page
@model TTI.TTF.Taxonomy.Model.Artifact.Artifact

@{
    Layout = Layout;
}

<html lang="en">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link href="../../wwwroot/css/bootstrap.css" rel="stylesheet">
	
  </head>
  <body>
  	<!-- body code goes here -->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="../../wwwroot/js/jquery-3.3.1.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../wwwroot/js/popper.min.js"></script> 
	
<script src="../../wwwroot/js/bootstrap.js"></script>
<div class="card">
  <h5 class="card-header">Artifact</h5>
  <div class="card-body">
    <h5 class="card-title">@Model.Artifact.Name</h5>
    <p class="card-text">@Model.Artifact.Definition.BusinessDescription.ToString.Trim(50)</p>
<!-- 
  Replace form-handler.php with URL where to send the form-data when the form is submitted
  Goto http://w3c.github.io/html-reference/input.text.html#input.text for more information on all attributes that can be used with text input field
-->
  <form method="post" action="form-handler.php">
      <div>
      <div>
        <h4>Symbol</h4>
	   	<div>
			<label>ArtifactType</label>
			<select id="artifactType" name="artifactType">
				@foreach (var aType in Model.Artifact.ArtifactType)
				{
					if(aType == Model.Artifact.ArtifactSymbol.Type){
						<option value=@aType selected>@aType</option>
					}
					else
					{
						<option value=@aType>@aType</option>
					}
				}
			</select>
      	</div>
	  	<div>
			<label for="visulaSymbol">Visual: @Html.Raw(Model.Artifact.Symbol.VisualSymbol) <span class="required">*</span></label>
			<input type="text" id="vSymbol" name="vSymbol" value=@Model.Artifact.ArtifactSymbol.VisualSymbol placeholder="" required="required" />
		</div>
	  	<div>
			<label for="toolingSymbol">Tooling: @Model.Artifact.ArtifactSymbol.ToolingSymbol <span class="required">*</span></label>
			<input type="text" id="tSymbol" name="tSymbol" value=@Model.Artifact.ArtifactSymbol.ToolingSymbol placeholder="" required="required" />
	  	</div>
	  	<div>
			<label for="version">Version: <span class="required">*</span></label>
			<input type="text" id="version" name="version" value=@Model.Artifact.ArtifactSymbol.Version placeholder="" required="required" />
	  	</div>
      </div>
	  <div>
	  	<h4>Name</h4>
        <label for="name">Name: <span class="required">*</span></label>
        <input type="text" id="name" name="name" value=@Model.Artifact.Name placeholder="artifact name" required="required" autofocus />
      </div>
      <div>
        <h4>Aliases</h4>
		  @foreach (var alias in Model.Artifact.Aliases)
			{
				<div>
					<label>@alias </label>
					<input type="text" id=@alias name=@alias value=@alias placeholder="" />
				</div>                                    
			}
      </div>
	  <div>
	  	<h4>Control Uri</h4>
        <label for="controlUrl">Uri: <span class="required">*</span></label>
        <input type="text" id="controlUri" name="controlUri" value=@Model.Artifact.ControlUri placeholder=""/>
      </div>
      <div>
        <h4>Business Decription</h4>
        <textarea id="businessDescription" name="businessDescription" placeholder="" required> @Model.Artifact.ArtifactDefinition.BusinessDescription</textarea>
      </div>
      <div>
        <h4>Business Example</h4>
        <textarea id="businessExample" name="businessExample" placeholder="" required> @Model.Artifact.ArtifactDefinition.BusinessExample</textarea>
      </div>
      <div>
        <h4>Comments</h4>
        <textarea id="comments" name="comments" placeholder="" required> @Model.Artifact.ArtifactDefinition.Comments</textarea>
      </div>
	  <div>
		  <h4>Analogies</h4>
		  @foreach (var analogy in Model.Artifact.ArtifactDefinition.Analogies)
		{
			<div>
				<label>@analogy.Name </label>
				<input type="text" id=@analogy.Name name=@analogy.Name value=@analogy.Name placeholder="" />
				 <textarea id=@analogy.Name "-comments" name=@analogy.Name "-comments" placeholder=""> @analogy.Description</textarea>
			</div>                                    
		}
	  </div>   
	  <div>
        <h4>Dependencies</h4>
		  @foreach (var d in Model.Artifact.Dependencies){
		<div>
			<label>Description</label>
			<textarea id=@d.Name name=@d.Name placeholder="" required> @d.Description</textarea>
      	</div>
	   	<div>
			<label>ArtifactType</label>
			<select id=@d.Name name=@d.Name>
				@foreach (var aType in Model.Artifact.ArtifactType)
				{
					if(aType == d.Symbol.Type){
						<option value=@aType selected>@aType</option>
					}
					else
					{
						<option value=@aType>@aType</option>
					}
				}
			</select>
      	</div>
	  	<div>
			<label>Visual: @Html.Raw(d.Symbol.VisualSymbol) <span class="required">*</span></label>
			<input type="text" id="vSymbol" name="vSymbol" value=@d.Symbol.VisualSymbol placeholder="" required="required" />
		</div>
	  	<div>
			<label for="toolingSymbol">Tooling: @d.Symbol.ToolingSymbol <span class="required">*</span></label>
			<input type="text" id="tSymbol" name="tSymbol" value=@d.Symbol.ToolingSymbol placeholder="" required="required" />
	  	</div>
	  	<div>
			<label for="version">Version: <span class="required">*</span></label>
			<input type="text" id="version" name="version" value=@d.Symbol.Version placeholder="" required="required" />
	  	</div>
		  }
      </div>
	  <div>
        <h4>Incompatibilies</h4>
		  @foreach (var d in Model.Artifact.IncompatibleWithSymbols){
	   	<div>
			<label>ArtifactType</label>
			<select id=@d.Name name=@d.Name>
				@foreach (var aType in Model.Artifact.ArtifactType)
				{
					if(aType == d.Type){
						<option value=@aType selected>@aType</option>
					}
					else
					{
						<option value=@aType>@aType</option>
					}
				}
			</select>
      	</div>
	  	<div>
			<label>Visual: @Html.Raw(d.VisualSymbol) <span class="required">*</span></label>
			<input type="text" id="vSymbol" name="vSymbol" value=@d.VisualSymbol placeholder="" required="required" />
		</div>
	  	<div>
			<label for="toolingSymbol">Tooling: @d.ToolingSymbol <span class="required">*</span></label>
			<input type="text" id="tSymbol" name="tSymbol" value=@d.ToolingSymbol placeholder="" required="required" />
	  	</div>
	  	<div>
			<label for="version">Version: <span class="required">*</span></label>
			<input type="text" id="version" name="version" value=@d.Version placeholder="" required="required" />
	  	</div>
		  }
      </div>
	  <div>
        <h4>Influencers</h4>
		  @foreach (var d in Model.Artifact.InfluencedBySymbols){
		<div>
			<label>Description</label>
			<textarea id=@d.Name name=@d.Name placeholder="" required> @d.Description</textarea>
      	</div>
	   	<div>
			<label>ArtifactType</label>
			<select id=@d.Name name=@d.Name>
				@foreach (var aType in Model.Artifact.ArtifactType)
				{
					if(aType == d.Symbol.Type){
						<option value=@aType selected>@aType</option>
					}
					else
					{
						<option value=@aType>@aType</option>
					}
				}
			</select>
      	</div>
	  	<div>
			<label>Visual: @Html.Raw(d.Symbol.VisualSymbol) <span class="required">*</span></label>
			<input type="text" id="vSymbol" name="vSymbol" value=@d.Symbol.VisualSymbol placeholder="" required="required" />
		</div>
	  	<div>
			<label for="toolingSymbol">Tooling: @d.Symbol.ToolingSymbol <span class="required">*</span></label>
			<input type="text" id="tSymbol" name="tSymbol" value=@d.Symbol.ToolingSymbol placeholder="" required="required" />
	  	</div>
	  	<div>
			<label for="version">Version: <span class="required">*</span></label>
			<input type="text" id="version" name="version" value=@d.Symbol.Version placeholder="" required="required" />
	  	</div>
		  }
      </div>
	  <div>
        <h4>Files</h4>
		  @foreach (var d in Model.Artifact.ArtifactFiles){
			<div>
				<label>Content Type</label>
				<select id=@d.FileName name=@d.FileName>
					@foreach (var aType in Model.Artifact.ContentType)
					{
						if(aType == d.Content){
							<option value=@aType selected>@aType</option>
						}
						else
						{
							<option value=@aType>@aType</option>
						}
					}
				</select>
			<div>
			<label for=@d.FileName>FileName:</label>
			<input type="text" id=@d.FileName name=@d.FileName value=@d.FileName placeholder=""/>
	  		</div>
		</div>
		  }
	  </div>
	<div>
        <h4>Maps</h4>
		<div>
		  @foreach (var d in Model.Artifact.Maps.CodeReferences){
			<div>
				<label>Mapping Type</label>
				<select id=@d.Name name=@d.Name>
					@foreach (var aType in Model.Artifact.MappingType)
					{
						if(aType == d.MappingType){
							<option value=@aType selected>@aType</option>
						}
						else
						{
							<option value=@aType>@aType</option>
						}
					}
				</select>
			</div>
			<div>
				<label>Name:<span class="required">*</span></label>
				<input type="text" id=@d.Name name=@d.Name value=@d.Name placeholder="" required="required" />
			</div>
			<div>
				<label>Target Platform</label>
				<select id=t@d.Name name=t@d.Name>
					@foreach (var aType in Model.Artifact.TargetPlatform)
					{
						if(aType == d.Platform){
							<option value=@aType selected>@aType</option>
						}
						else
						{
							<option value=@aType>@aType</option>
						}
					}
				</select>
			</div>
			<div>
				<label>ReferencePath:</label>
				<input type="text" id=@d.ReferencePath.Trim(8) name=@d.ReferencePath.Trim(8) value=@d.ReferencePath placeholder=""/>
			</div>
		  }
      	</div>
		<div>
		  @foreach (var d in Model.Artifact.Maps.ImplementationReferences){
			<div>
				<label>Mapping Type</label>
				<select id=@d.Name name=@d.Name>
					@foreach (var aType in Model.Artifact.MappingType)
					{
						if(aType == d.MappingType){
							<option value=@aType selected>@aType</option>
						}
						else
						{
							<option value=@aType>@aType</option>
						}
					}
				</select>
			</div>
			<div>
				<label>Name:<span class="required">*</span></label>
				<input type="text" id=@d.Name name=@d.Name value=@d.Name placeholder="" required="required" />
			</div>
			<div>
				<label>Target Platform</label>
				<select id=t@d.Name name=t@d.Name>
					@foreach (var aType in Model.Artifact.TargetPlatform)
					{
						if(aType == d.Platform){
							<option value=@aType selected>@aType</option>
						}
						else
						{
							<option value=@aType>@aType</option>
						}
					}
				</select>
			</div>
			<div>!Gr3nade8
				
				<label>ReferencePath:</label>
				<input type="text" id=@d.ReferencePath.Trim(8) name=@d.ReferencePath.Trim(8) value=@d.ReferencePath placeholder=""/>
			</div>
		  }
      	</div>
		<div>
		  @foreach (var d in Model.Artifact.Maps.Resources){
			<div>
				<label>Resources</label>
				<select id=@d.Name name=@d.Name>
					@foreach (var aType in Model.Artifact.MappingType)
					{
						if(aType == d.MappingType){
							<option value=@aType selected>@aType</option>
						}
						else
						{
							<option value=@aType>@aType</option>
						}
					}
				</select>
			</div>
			<div>
				<label>Name:<span class="required">*</span></label>
				<input type="text" id=@d.Name name=@d.Name value=@d.Name placeholder="" required="required" />
			</div>
			<div>
				<label>Description: <span class="required">*</span></label>
				<textarea id=@d.Description.Trim(8) name=@d.Description.Trim(8) placeholder="" required> @d.Description</textarea>
			</div>
			<div>
				<label>ResourcePath:</label>
				<input type="text" id=@d.ReferencePath.Trim(8) name=@d.ReferencePath.Trim(8) value=@d.ReferencePath placeholder=""/>
			</div>
		  }
      	</div>
	  </div>
      <div>
        <input type="submit" class="btn btn-primary" value="Submit" id="submit" />
      </div>
    </form>
</div>
</body>
</html>